body {
    box-sizing: border-box;
}
.left-block {
    width: 300px;
    float: left;
    margin-right: 10px;
    border: 1px solid #d2d2d2;
    padding: 10px;
}

.content-block {
    display: block;
    /*overflow: hidden;*/
}

#filter .regions {
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
}

#filter .regions li {
    cursor: pointer;
}

#filter .regions li:hover {
    background: #f1f1f1;
}

#table_posts {
    width: auto;
    table-layout:fixed;
}
